@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: lineal-gradient(
       90deg,
       rgba(220, 237, 241,1) 0%,
       rgba(195, 248, 248,1) 50%,
       rgba(0, 238, 255,1) 100%,
    );
    padding: 70px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color:  #2affff;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #2affff;
}

#menu {
    display: none;
}

.menu-icono {
    width:25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position:absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #FF3C2A;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-txt {
    flex-basis: 40%;
}

.header-txt h1 {
    font-size: 70px;
    color: #111111;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p {
    color: #4b4b4b;
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-1, .btn-3 {
    display: inline-block;
    background-color: #2affff;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-1:hover, .btn-3:hover {
    color:#FFFFFF;
    background-color: #FF3C2A;
}

.header-img {
    flex-basis: 60%;
    text-align: right;
}

.oferts {
    padding: 100px 0;
}

h2 {
    font-size: 40px;
    line-height: 1;
    color: #181818;
    margin-bottom: 30px;
}

.oferts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.oferts-1 {
    flex-basis: calc(30% - 30px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 25px;
    text-align: center;
    background-color: #F7FAFA;
    border-radius: 10px;
}

.oferts-1 img {
    width: 130px;
    height: 170px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #111111;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 10px;
}

.precio {
    color: #2affff;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-3 {
    padding: 4px 20px;
}

.logan-1 {
    flex-basis: 40%;
    background: lineal-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(images/ch1.jpg);
    background-position: center center;
    background-size: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-1 h3 {
    color: #FFFFFF;
    font-size: 30px;
    text-transform: uppercase;
}

.logan-1 p {
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px;
}

.btn-2 {
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.promotion {
    padding: 50px 0;
    background-color: #F7F7F7;
}

.promotion-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promotion-txt {
    flex-basis: 50%;
    font-size: 35px;
    margin-bottom: 20px;
}

.promotion-img {
    flex-basis: 50%;
    text-align: center;
}

.promotion-img img {
    width: 250px;
}

.product {
    padding: 100px 0;
    text-align: center;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.blog {
    padding: 30px;
}

.blog-content {
    flex-direction: column;
}

.footer {
    padding: 30px;
    flex-direction: column;
    text-align: center;
}